In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('train.csv')  # Replace with your actual file path

# Display the count of missing values per column
print(df.isnull().sum())

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

##a)  Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

In [2]:
# Drop columns with more than 50% missing values
threshold = len(df) * 0.5
df.dropna(thresh=threshold, axis=1, inplace=True)

In [3]:
# Confirm all missing values have been addressed
print(df.isnull().sum())

Unnamed: 0            0
Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                38
Price                 0
dtype: int64

In [4]:
print(df.columns.tolist())

['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price']

##b) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [5]:
# Function to extract numeric values from a string
def extract_numeric(value):
    try:
        return float(str(value).split()[0])
    except:
        return np.nan

# Clean up Mileage
if 'Mileage' in df.columns:
    df['Mileage'] = df['Mileage'].apply(extract_numeric)

# Clean up Engine
if 'Engine' in df.columns:
    df['Engine'] = df['Engine'].apply(extract_numeric)

# Clean up Power
if 'Power' in df.columns:
    df['Power'] = df['Power'].apply(extract_numeric)

In [6]:
print(df[['Mileage', 'Engine', 'Power']].head())
print(df[['Mileage', 'Engine', 'Power']].dtypes)

   Mileage  Engine   Power
0    19.67  1582.0  126.20
1    13.00  1199.0   88.70
2    20.77  1248.0   88.76
3    15.20  1968.0  140.80
4    23.08  1461.0   63.10
Mileage    float64
Engine     float64
Power      float64
dtype: object

##C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [7]:
# Check the current categories
print(df['Fuel_Type'].unique())
print(df['Transmission'].unique())

# One-hot encode the categorical columns
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

# View the result
print(df.head())

['Diesel' 'Petrol' 'Electric']
['Manual' 'Automatic']
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual
0               False             False                 True
1               False              True                 True
2               False             False                 True
3               False             False                False
4               False             False                 True

##d) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.

In [8]:
# Add new feature: Car Age
df['Car_Age'] = 2025 - df['Year']

# Preview the updated dataset
print(df[['Year', 'Car_Age']].head())

   Year  Car_Age
0  2015       10
1  2011       14
2  2012       13
3  2013       12
4  2013       12

##e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset. (4 points)

###Select

In [9]:
# Select only specific columns
selected_df = df[['Name', 'Location', 'Year', 'Car_Age', 'Fuel_Type_Petrol', 'Price']]
print(selected_df.head())

                               Name    Location  Year  Car_Age  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015       10
1                      Honda Jazz V     Chennai  2011       14
2                 Maruti Ertiga VDI     Chennai  2012       13
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013       12
4            Nissan Micra Diesel XV      Jaipur  2013       12

   Fuel_Type_Petrol  Price
0             False  12.50
1              True   4.50
2             False   6.00
3             False  17.74
4             False   3.50

###Filter

In [10]:
# Filter rows: Show only cars with age < 5 and price > 5 lakh
filtered_df = df[(df['Car_Age'] < 5) & (df['Price'] > 5)]
print(filtered_df.head())

Empty DataFrame
Columns: [Unnamed: 0, Name, Location, Year, Kilometers_Driven, Owner_Type, Mileage, Engine, Power, Seats, Price, Fuel_Type_Electric, Fuel_Type_Petrol, Transmission_Manual, Car_Age]
Index: []

###Rename

In [11]:
# Rename 'Price' to 'Selling_Price'
df = df.rename(columns={'Price': 'Selling_Price'})

###Mutate

In [12]:
# Add a new column: price per year of age
df['Price_per_Year'] = df['Selling_Price'] / df['Car_Age'].replace(0, 1)  # Avoid division by zero

###Arrange

In [13]:
# Sort by Selling Price descending
arranged_df = df.sort_values(by='Selling_Price', ascending=False)
print(arranged_df[['Name', 'Selling_Price']].head())

                                             Name  Selling_Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue         160.00
5620                   Lamborghini Gallardo Coupe         120.00
5752                       Jaguar F Type 5.0 V8 S         100.00
1457              Land Rover Range Rover Sport SE          97.07
1917                           BMW 7 Series 740Li          93.67

###summarize with group by

In [14]:
# Group by Fuel Type and calculate average price and count
summary_df = df.groupby('Fuel_Type_Petrol').agg({
    'Selling_Price': ['mean', 'max', 'count'],
    'Car_Age': 'mean'
}).reset_index()

# Flatten MultiIndex column names
summary_df.columns = ['Fuel_Type_Petrol', 'Avg_Price', 'Max_Price', 'Count', 'Avg_Age']

print(summary_df)

   Fuel_Type_Petrol  Avg_Price  Max_Price  Count    Avg_Age
0             False  12.960632      160.0   3163  11.209295
1              True   5.756688      120.0   2684  11.954918